{% extends 'base.html'%}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">{{ lead.first_name}}  {{lead.last_name}}</h1>
    <div class="col-lg-6 mx-auto">
      <h1 class="lead mb-4">This is the details of {{lead.first_name}}</h1>
      <p>This person's age {{ lead.age }}</p>
      <p>The agent responsible for this lead is: {{ lead.agent }}</p>
      <hr>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'leads:lead-delete' lead.pk %}" class="btn btn-primary btn-lg px-4 gap-3" type="button">Delete</a>
        <a href="{% url 'leads:lead-update' lead.pk %}"type="button" class="btn btn-outline-secondary btn-lg px-4">Update</a>
      </div>
    </div>
  </div>
{% endblock %}
